text{
  fill: #ffffff;
  font: 11px Helvetica, Arial, sans-serif;
  dominant-baseline: text-before-edge;
  alignment-baseline: text-before-edge;
}
.link{
  stroke: #b0b0b0;
  stroke-width: 2px;
  marker-end: url(#circle-marker);
}
.link.back{
  stroke: #666;
  marker-start: url(#start-arrow-marker);
  #start-arrow-marker{
    fill: #666;
  }
}
.address{
  .label{
    font-weight: 600;
  }
  text{
    text-anchor: middle;
  }
}
.interaction{
  text{
    text-anchor: middle;
  }
  .label{
    font-weight: 600;
  }
  &.details{
    text{
      text-anchor: inherit;
    }
  }
}
.default-label.with-icon{
  font-size: 14px;
}

.default-background{
     fill: #5392A8;
   }
.default-label{
  font-size: 20px;
  text-anchor: middle;
}

.node.member {
  .member-background{
    fill: #2E9E57;
    rx: 10px;
    ry: 10px;
  }
  .avatar-img{
    clip-path: url(#avatar-image-clip);
  }
  .label{
    font-weight: 600;
  }
  .heading .label{
    font-size: 18px;
    font-weight: 400;
  }
}


.action-background{
  fill: #105466;
  rx: 5px;
  ry: 5px;
}

.action-btn:hover .action-background{
  fill: #106274;
}

.action-menu-background{
  fill: #ffffff;
  stroke: #ccc;
  stroke-width: 1px;
  rx: 5px;
  ry: 5px;
}

.action-menu-tip{
  fill: #ffffff;
  stroke: #ddd;
  stroke-width: 1px;
}

.action-menu-item-background{
  fill: #fff;
}

.action-menu-item:hover .action-menu-item-background{
  fill: #f0f0f0;
}

.action-menu-item, .action{
  cursor: pointer;
}

.action-menu-item-label{
  fill: #000;
  font-size: 13px;
}
.pin-area{
  width: 0;
  border-left: 3px dashed #CCC;
  position: absolute;
  right: 200px;
  height: 100%;
  display: none;
}
line.hr{
  stroke: #fff;
}
.html{
  background: transparent;
  position: fixed;
  color: #fff;
  overflow: auto;
}
// SVG Defs
#avatar-image-clip-rect{
  stroke-width: 3px;
  stroke: #fff;
  fill: none;
  rx: 10px;
  ry: 10px;
}

#end-arrow-path,
#start-arrow-path{
  fill: #666;
}

#circle-marker-circle{
  fill: #fff;
  stroke: #ccc;
  stroke-width: 1px;
}


section.force{
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 80%;
}
.force {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  .svgStage{
    position: absolute;
  }
  .avatar{
    border-radius: 5px;
  }
  .clickable{
    cursor: pointer;
  }
  .node {
    position: absolute;
    border-color: #b0b0b0;
  }
  .member {
    text-align:center;
    min-width: 150px;
    width:175px;
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #b0b0b0;
    z-index: 1;
    font-weight: 300;
    .avatar{
      max-width: 140px;
    }
    .lead {
      font-size:20px;
      font-weight:600;
    }
    .value {
      font-size:12px;
    }
  }
  .member div.row {padding:0px;}
  .member div.row div.col-xs-12 {padding:0px;}
  .work{
    @extend .member;
  }
  .doctor{
    @extend .member;
  }
  .node-label {
    margin: 0;
    padding: 0;
    font-size:12px;
  }
  .row{
    margin-bottom: .6em;
  }
  .actions{
    position: absolute;
    right: 0;
    transform: translate(100%,0);
    bottom: 15px;
  }

  .action{
    margin-bottom: 5px;
    position: relative;
  }
  .action-btn{
    font-size:12px;
    color:#fff;
    background-color: #76bce6;
    border-radius: 0 5px 5px 0;
    border: none;
    width: 35px;
    height: 35px;

    img{
      width: 100%;
      padding: 10%;
    }
  }
  .fake-menu{
    position: absolute;
    max-width: inherit;
    top: -10px;
    left: 125%;
    z-index:9;
  }
  .menu-item{
    color: #888;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: #fff;
    margin-left: 200%;
    padding:0;
    border-radius: 10px;
    border: 1px solid #ccc;
    list-style: none;

    &::before,
    &::after{
      content: "";
      position: absolute;
      top: 8px;
      left: -19px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12.5px 20px 12.5px 0;
      border-color: transparent #fff transparent transparent;
    }

    &::before{
      left: -21px;
      border-color: transparent #ccc transparent transparent;
    }
  }
  .action-menu-item{
    padding: 15px 15px 15px 45px;
    font-size: 1.2em;
    white-space: nowrap;
    cursor: pointer;
    &:first-child{
      border-radius: 10px 10px 0 0;
    }
    &:last-child{
      border-radius: 0 0 10px 10px;
    }
    &:hover{
      background-color: #eee;
    }
    + .action-menu-item{
      border-top: 1px solid #ccc;
    }
    &.has-icon {
      padding: 15px;
    }
    .menu-icon{
      margin-right: 5px;
      width: 20px;
    }
  }

  .avatar{
    max-width: 100%;
  }
  .default {
    transition: all .5s ease;
    overflow: hidden;
    border-radius: 50%;
    border: none;
    color: #333333;
    background-color: transparent;
    height: 220px;
    width: 195px;
    text-align: center;
    padding: 25px 10px;
    .icon{
      margin-top: -10px;
      width: 195px;
      margin-bottom: 0;
    }
    .node-label {
      margin-top: 38px;
      font-size: 1.2em;
      transform: translateY(-50%);
    }
    .icon + .node-label {
      margin-top: 0;
      font-size: 13px;
      transform: translateY(0);
    }
    &.inner{
      background-color: rgba(54, 82, 130, 0.8);
    }
    &.outer{
      background-color: rgba(153, 69, 164, 0.8);
      font-size: .8em;
      height: 85px;
      width: 85px;
      padding: 15px 5px;
      .node-label {
        margin-top: 24px;
        transform: translateY(-50%);
      }
    }
  }
  .secondChild {
    @extend .default;
    color: #fff;
    background-color: #001a93;
  }
  .expanded{
    @extend .default;
    width: 300px;
    height: 315px;
    border-radius: 1%;
  }

  .address{
    @extend .default;
    .node-label{
      margin-bottom: 15px;
    }
  }

  .node>.details{
    width: 600px;
    height: 800px;
    overflow: auto;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(54, 82, 130, 0.8);
  }

  .interaction{
    @extend .default;
    font-size: .85em;
    transition: all .5s ease;
    overflow: hidden;

    &.detailed{
      border-radius: 10px;
      height: 345px;
      width: auto;
      max-width: 230px;
      text-align: left;
      .node-label {
        margin-top: 0;
        font-size: 1em;
        transform: translateY(0);
      }
    }
    .summary {
      max-height: 150px;
      overflow: auto;
    }
  }
  .short-details{
    :nth-child(2n){
      margin-bottom: .5em;
    }
  }
  .nav{
    @extend .default;
    height: 75px;
    width: 75px;
    background-color: #71C16A;
  }
}

