$foundation-palette: (
  primary: #105466,
  secondary: #2e7d98,
  info: #399bb5,
  success: #2e9e57,
  warning: #f99300,
  alert: #b82a0c,
);

//Buttons
$button-padding: 1em 1.5em;
$button-radius: 10px;

//Callouts
$callout-hollow-border-width: 3px !default;
$callout-radius: 10px;

@mixin custom-callout {
  .callout {
    @include callout;

    @each $name, $color in $foundation-palette {
      &.#{$name}.hollow {
        border-width: $callout-hollow-border-width;
        border-color: $color;
        background-color: #fff;
      }
    }

    @each $name, $color in $foundation-palette {
      &.#{$name}.solid {
        background-color: $color;
        color: #fff;
        border: 0;
      }
    }
  }
}
