#correspond_container {
  display:none;
  position:absolute;
  top:100px;
  right:10px;
  height:600px;
  width:55%;}
#correspond_container table, #correspond_container td, #correspond_container tr {margin:0px !important;}
#correspond_container tr {background-color:#fff !important;}
#correspond_container #ool_header, #correspond_container tbody {
  background-color:#bddd22;
  color:#666;
  border:none;
}
#correspond_container #ool_header td, #ool_header .ool_row{
  background-color:#bddd22;
  color:#fff;
  border:none;
  font-size:16px;
}
#correspond_container #ool_header .ool_row td {
   padding:0px 3px 0px 3px;
 }
#correspond_container .ool_row {
  border:1px solid #666;
  border-bottom:1px solid #ccc;
  border-top:none;
  background-color:#fff;
}
.containerDrag:hover {cursor:pointer;}

#correspond_container .ool_row tr {
  border-bottom:1px solid #666;
}
#correspond_container #ool_header.ool_row tr {
   border-bottom:none;
 }
#correspond_container .ool_row td {
  background-color:#fff;
  width:11%;
  font-size:12px;
  padding:20px 3px 20px 3px;
}
#correspond_container .ool_row td.sort {
  text-align:center;
  width:30px;
  color:#666;
}
#correspond_container .ool_row td.ohi {
  width:50px;
  text-align:center;
}
#correspond_container .ool_row td.company {
  width:100px;
  text-align:center;
}
#correspond_container .ool_row td.date {
  text-align:center;
  width:80px;
}
#correspond_container .ool_row td.status {
  width:60px;
}
#correspond_container .ool_row td.orderNum {
  text-align:center;
  width:50px;
}
#correspond_container div.numActive {
  border:1px solid #666;
  background-color:#1a91d0;
  color:#fff;
  width:25px;
  padding:5px 0px 5px 0px;
  margin-right:auto;
  margin-left:auto;
}
#correspond_container div.numInactive {
  border:1px solid #666;
  background-color:#808080;
  color:#fff;
  width:25px;
  padding:5px 0px 5px 0px;
  margin-right:auto;
  margin-left:auto;
}

#correspond_container div.dateBox {
  border:1px solid #666;
  text-align:center;
  width:75px;
  font-size:11px;
  padding:5px 3px 5px 0px;
  margin-right:auto;
  margin-left:auto;
}
/* dragula styles */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
