#header {
  position:absolute;
  height:50px;
  top:0px;
  left:0px;
  width:100%;
  margin:0px;
  z-index:5;
}
#header div.icons {
  height:40px;
  background-image:url(../static/images/header_bg.png);
  background-position:right top;
  background-repeat:no-repeat;
  background-color:#ffffff;
  width:100%;
}
#header div.icons img {
  vertical-align:middle;
  margin:3px 7px 3px 0px;
}
#header div.logo {
  float:left;
  width:50%;
}
#header div.logo div.pad {
  padding:3px 0px 3px 10px;
}
#header div.actions {
  float:left;
  width:50%;
  text-align:right;
}
#header div.actions .fa-search {color:#fff;font-size:20px;vertical-align:middle;}
#header div.actions .fa-search:hover {cursor:pointer;}
#header div.name {
  clear:both;
  padding:7px 0px 20px 20px;
  color:#aaacad;
  font-size:11px;
  font-weight:bold;
}

#footer {
  position:absolute;
  height:55px;
  bottom:0px;
  left:0px;
  width:100%;
  margin:0px;
}
#footer div.back {
  float:left;
  width:90%;
  color:#fff;
  background-image:url(../static/images/footer_bg.png);
  background-position:left bottom;
  background-repeat:repeat-y;
  margin-top:20px;
}
#footer div.back img {
  vertical-align:middle;
  margin:3px 7px 3px 0px;
}
#footer div.back div.pad {
  padding:3px 0px 3px 10px;
}
#footer div.logo {
  float:left;
  width:10%;
  text-align:right;
}
#footer div.logo img {
  margin:0px 10px 3px 0px;
}
