.horol_container {
  width:670px;
  margin-right:auto;
  margin-left:auto;
}
.container_edit{width:743px;}

/* List Div Styles */
.horol_list {
  float:left;
  width:335px;
  height:500px;
  overflow-y:scroll;
  margin-top:150px;
  background-color:#cbcaca;
  color:#6c6c6c;
  padding:3px 0px 3px 0px;
  border-radius:10px;
}
.list_edit {width:60px;}
.horol_list h1 {
  padding-top:7px;
  margin:0px 0px 10px 10px;
  font-size:14px;
  color:#6c6c6c;
  opacity:1;
}
.horol_list div.sort {
  float:right;
  margin:7px 10px 0px 0px;
  font-size:12px;
}
.horol_list div.items {
  clear:both;
  color:#fff;
}
.horol_list div.record {
  font-size:12px;
  padding:3px 5px 3px 5px;
  clear:both;
  background-color:#566f8d;
  height:60px;
  border-bottom: 2px solid #cbcaca;
}
.horol_list div.record div.circle {
  margin:3px 0px 0px 0px;
  padding-top:5px;
  background-color:#a2a1a1;
  height: 30px;
  width:30px;
  text-align:center;
  border-radius:50%;
}
.horol_list div.record_current {
  font-size:12px;
  padding:3px 5px 3px 5px;
  clear:both;
  background-color:#405274;
  height:60px;
  border-bottom: 2px solid #cbcaca;
}
.horol_list div.record_current div.circle {
  margin:3px 0px 0px 0px;
  padding-top:5px;
  background-color:#efa13e;
  height: 30px;
  width:30px;
  text-align:center;
  border-radius:50%;
}
.horol_list div.number {
  float:left;
  width:40px;
}
.horol_list div.info {
  float:left;
  width:175px;
}
.horol_list div.more {
  font-size:11px;
  line-height:1.2;
  font-weight:normal;
  float:left;
  width:90px;
  text-align:right;
}
/* Detail Div Styles */
.horol_details {
  float:left;
  width:335px;
  height:500px;
  margin-top:150px;
  background-color:#576f8c;
  color:#fff;
  padding:3px 10px 3px 10px;
  border-radius:10px;
}
.horol_details a {
  color:#fff;
 }
.horol_details h1 {
  padding-top:7px;
  font-size:14px;
  color:#fff;
  opacity:1;
}
.horol_details h1 i {
    opacity:.5;
  }
.horol_details h2 {
  font-size:14px;
  font-weight:normal;
}
.horol_details h3 {
  font-size:13px;
}
.horol_details h4 {
  font-size:11px;
  font-weight:normal;
}
.horol_details div.actions {
  font-size:14px;
  margin:7px 0px 25px 0px;
}
.horol_details .horol_arrow {
  float:left;
  width:50%;
}
.horol_details .horol_close {
  float:left;
  width:50%;
  text-align:right;
}
.horol_title {clear:both;}
.horol_details table {
  border:none;
  background-color:#576f8c;
}
.horol_details table tbody{
   background-color:#576f8c;
  border:none;
 }
.horol_details td {
  vertical-align:top;
  padding:7px 7px 7px 7px;
  background-color:#576f8c;
}
.horol_details tr.highlighted td {
  background-color:#476588;
}
.horol_details td.left {
  border-top:none;
  border-left:none;
  border-right:1px solid #6e7f93;
  border-bottom:1px solid #6e7f93;
}
.horol_details td.middle {
  border-top:none;
  border-left:none;
  border-right:1px solid #6e7f93;
  border-bottom:1px solid #6e7f93;
}
.horol_details td.right {
  padding-left:20px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid #6e7f93;
}
.horol_details td.left_last {
  border-top:none;
  border-right:1px solid #6e7f93;
  border-bottom:none;
}
.horol_details td.middle_last {
  border-top:none;
  border-right:1px solid #6e7f93;
  border-bottom:none;
}
.horol_details td.right_last {
  padding-left:20px;
  border-top:none;
  border-right:none;
  border-bottom:none;
}
.horol_details td.cancel {
  text-align:left;
  font-size:11px;
  padding-top:10px;
}
.horol_details td.search {
  text-align:right;
  padding-top:10px;
}
.horol_details input.form_text {
  width:200px;
  height:20px;
  border-radius:5px;
  margin:0px;
}
.horol_details input.cancel_btn {
  border-style:none;
  font-size:11px;
  width:100px;
  height:20px;
  border-radius:3px;
  margin:0px 20px 0px 0px;
  background-color:#a8a8a8;

}
.horol_details input.search_btn {
  border-style:none;
  font-size:11px;
  width:100px;
  height:20px;
  border-radius:3px;
  margin:10px 20px 0px 0px;
  background-color:#6fb058;
}
/* Detail Div Edit Styles */
.horol_details_edit {
  float:left;
  width:348px;
  height:500px;
  margin-top:120px;
  color:#fff;
  padding:0px;
  border-radius:10px;
}
