div.login_div{
  margin-left:auto;
  margin-right:auto;
  margin-top:150px;
  width:300px;

}
div.login_div input.text {
  width:250px;

}
div.login_div img {
  margin-bottom:20px;

}
input.login_btn{
  border-style:none;
  font-size:11px;
  width:100px;
  height:20px;
  border-radius:3px;
  margin:0px 20px 0px 0px;
  background-color:#6fb058;
  color:#fff;
  float:right;
}
div.login_div span.note {
  font-size:10px;
  font-style:italic;
  color:#7890c7;

 }
