#memberSearchDiv{
  width:80%;
}
#memberSearchDiv table{
   width:100%;
 }
#memberSearchDiv h1{
  font-size:24px;
}
#memberSearchDiv h2{
  color:#666;
  font-size:12px;
  margin-bottom:15px;
}
#memberSearchDiv th{
  text-align:left;
  font-size:11px;
  padding:7px;
  background-color:#999;
  color:#fff;
  white-space:nowrap;
}
#memberSearchDiv td{
  text-align:left;
  font-size:12px;
  padding:7px;
  border-bottom:1px solid #666;
}
