html, body {margin:0px;padding:0px;height:100%;}
div.name {display:none;}
#menu_list_container {width:100%;height:100%;padding-top:40px;  }
#menu_list_container div.row {width:100%;height:100%;margin:0px 0px 0px 0px;}

#menu {
  vertical-align:top;
  display:inline-block;
  width:17%;
  height:100%;
  background-color:#505050;
  color:#fff;
  padding:0px;
  margin:0px;
  margin-top:0px;
  margin-bottom:auto;
}
#list {
  display:inline-block;
  width:83%;
  height:80%;
  padding:0px;
  overflow-y:scroll;
}
#menu ul {
  margin:0px;
  padding:0px;
  list-style-type: none;
}
#menu li {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  list-style:none;
}
#menu div.subNav {padding:7px 10px 7px 10px;}
#menu div.subNav:hover {cursor:pointer;}
#menu div.subNav a {color:#fff;}
#menu nav {padding:0px;margin:0px;}
#menu nav ul ul {padding:7px 0px 7px 0px;}
#menu nav ul ul div {padding:3px 20px 3px 40px;font-size:12px;}
#menu nav ul i.fa {padding:0px 10px 0px 0px;font-size:16px;}
#menu li.active {
  background-color:#808080;
}
#menu li ul.sub_active {
  background-color:#d9d9d9;
  color:#505050;
}
#menu nav ul ul li.active {
  background-color:#d9d9d9;
  color:#543d79;
  font-weight:bold;
}
nav ul ul {
  width:100%;
  display: none;
  transition: opacity 1s;
  background-color:#d9d9d9;
  color:#505050;
}
nav ul ul.sublistShow{
  display:inline-block;
}
.out {
  opacity: 0;
}
.in {
  opacity: 1;
}
nav ul ul li i.fa {
  font-size:10px !important;
}

#list table.search_table {width:100%;margin-bottom:20px;}
#list table.search_table td {padding:3px 0px 0px 10px  !important;}
#list table.search_table td select {width:200px;height:40px;font-size:12px;}
#list table.search_table td input {width:200px;height:30px;font-size:12px;}

div.has-feedback span.fa {padding-top:10px;padding-right:7px;}
td.list_view {text-align:right; margin-right:40px;}
td.list_view .view_actions {margin:0px 20px 0px 0px;}
td.list_view .fa {font-size:10px;}
#list_table {}
#list_table th {
  white-space: nowrap;
  padding:7px 7px 7px 7px;
  background-color:#7d7d7d;
  color:#fff;
  font-weight:normal;
}
#list_table th i.fa {padding:0px 3px 0px 3px;font-size:11px;}
#list_table tr {cursor:pointer;}
#list_table td {padding:3px 3px 3px 3px  !important;text-align:center;}
#detail_slide {
  display:none;
  position:absolute;
  top:122px;
  right:18px;
}
#footer a {color:#fff;text-decoration:none;}
#footer {visibility:hidden;}

/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */
.stat_gauges {
  position:absolute;
  bottom:0px;
}
.gauge {
  display:inline-block;
  width:100px;
  margin:10px 10px 10px 10px;
  text-align:center;
}
.gauge .gaugeText {color:#666;font-size:9px;}
.gauge .gaugeText h3 {color:#666;font-size:10px;font-weight:bold;margin:0px 0px 0px 0px;}
.CircularProgressbar  {
  height:60px;
  margin:0px 20px 0px 20px;
  padding:0px;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.perc_0_24 .CircularProgressbar .CircularProgressbar-path {stroke: #d77e00;}
.perc_25_49 .CircularProgressbar .CircularProgressbar-path {stroke: #3e98c7;}
.perc_50_74 .CircularProgressbar .CircularProgressbar-path {stroke: #f1ce00;}
.perc_75_99 .CircularProgressbar .CircularProgressbar-path {stroke: #52b847;}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #666;
  font-size: 20px;
  font-weight:bold;
  text-anchor: middle;
}
