div.os_div {
  position:absolute;
  z-index:10;
  top:-504px;
  left:50px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}
div.os_div div.screen_container {
  background-color:#5f5e5e;
}
div.os_div div.screen {
  background-color:#5f5e5e;
  margin:0px 0px 0px 0px;
  text-align:center;
}
div.os_div div.tab_container {

}
div.os_div div.tab {
  background-color:#5f5e5e;
  margin-bottom:0px;
  margin-top:0px;
  margin-left:auto;
  margin-right:auto;
  width:100px;
  border-radius:0px 0px 5px 5px;
  color:#fff;
  text-align:center;
 }
#os_pulldown_tab:hover {cursor:pointer;}
