#policies_div {
  display:none;
  position:absolute;
  top:100px;
  right:0px;
  height:80%;
  width:650px;
  font-size:12px;
  transform:scale(1);
  opacity:1;
  /* Set our transitions up. */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
#policies_div table, #policies_div td, #policies_div tr {margin:0px !important; padding:0px !important;}
#policies_div tr {background-color:#fff !important;}
#policies_div .policy_container {
  height:400px;
  width:500px;
}
#policies_div .stack {
  height:600px;
  width:100%;
}
#policies_div .card_body tbody {border:none !important;}
#policies_div .policy_card {
  display:inline-block;
  border:1px solid #666;
  width:300px;
  margin:10px 10px 10px 10px;
  font-size:12px;
  border-radius:3px;
  background-color:#fff;
}




#policies_div .policy_card_add {
  display:inline-block;
  width:300px;
  height:160px;
  margin:10px 10px 10px 10px;
  font-size:12px;
}
#policies_div .policy_card .card_header {
  background-color:#ff7400;
  color:#fff;
  padding:16px 7px 16px 39px;
  font-size:18px;
}
#policies_div .policy_card .active {
  background-color:#ff7400;
}
#policies_div .policy_card .inactive {
  background-color:#4d4d4d;
}
#policies_div .policy_card .card_num {
  float:right;
  position:relative;
  top:-10px;
  text-align:center;
  background-color:#fff;
  color:#666;
  font-size:14px;
  height:40px;
  width:40px;
  padding:11px 5px 3px 5px;
}
#policies_div .policy_card .inactive .card_num {
  color:#4d4d4d;
}
#policies_div .policy_card .card_body {
  padding:7px 7px 7px 39px;
  background-color:#fff;
}
#policies_div .policy_card .card_body .fa-edit {
  font-size:32px;
}
#policies_div .policy_card .card_body table {
  width:100%;
}
#policies_div .policy_card .card_body td.edit {
  text-align:right;
}
#policies_div .btn_add {
  width:175px;
  text-align:center;
  background-color:#59b653;
  border-radius:3px;
  color:#fff;
  font-size:16px;
  padding:10px;
  margin:10px auto 10px auto;
  position:relative;
  top:50px;

}
#policies_div .btn_add .fa {
  font-size:32px;
  margin-right:7px;
  vertical-align: middle;

}
.fa-edit:hover {cursor:pointer;}
