#policy_details_div {
  display:none;
  position:absolute;
  top:100px;
  right:10px;
  height:500px;
  width:55%;
  transform:scale(1);
  opacity:0;
  /* Set our transitions up. */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.policy_container {
}
#policy_details_div table, #policy_details_div td, #policy_details_div tr {margin:0px !important; padding:0px !important;}
#policy_details_div tr {background-color:#fff !important;}
#policy_details_div .stack {
  height:500px;
  float:left;
  width:35%;
}
#policy_details_div .position {
  height:500px;
  width:250px;
  display: table-cell;
  vertical-align:bottom;
  text-align: center;}
#policy_details_div .details {
  float:left;
  height:600px;
  width:65%;
}
#policy_details_div .details .policy_header {
  padding:17px 10px 17px 20px;
}
#policy_details_div .policy_header {
  border-radius:3px 3px 0px 0px;
  background-color:#ff7400;
  color:#fff;
  padding:7px 7px 7px 7px;
}
#policy_details_div .policy_row {
  height:450px;
  padding:10px 0px 10px 0px;
  border:1px solid #666;
  border-bottom:1px solid #ccc;
  border-top:none;
  overflow-y:scroll;
  background-color:#fff;
}
#policy_details_div .policy_card {
  border:1px solid #666;
  border-radius:5px;
  width:175px;
  margin:10px auto 10px auto;
  font-size:12px;
}
#policy_details_div .policy_card .card_header {
  background-color:#ff7400;
  color:#fff;
  padding:8px 7px 8px 7px;
  font-size:14px;
  vertical-align: middle;
}
#policy_details_div .policy_card .active {
  background-color:#ff7400;
}
#policy_details_div .policy_card .inactive {
  background-color:#4d4d4d;
}
#policy_details_div .policy_card .card_num {
  vertical-align: middle;
  float:right;
  position:relative;
  text-align:center;
  background-color:#fff;
  color:#666;
  font-size:14px;
  height:40px;
  width:40px;
  padding:11px 5px 3px 5px;
}
#policy_details_div .policy_card .inactive .card_num {
  color:#4d4d4d;
}
#policy_details_div .policy_card .card_body {
  padding:7px 7px 7px 7px;
}
#policy_details_div .btn_add {
   width:150px;
   text-align:center;
   background-color:#59b653;
   border-radius:3px;
   color:#fff;
   font-size:16px;
   padding:10px;
   margin:10px auto 10px auto;
   position:relative;
   margin-top:30px;

 }

#policy_details_div .btn_add .fa {
  font-size:14px;
  margin-right:7px;

}
#policy_details_div .btn_save {
  display:inline-block;
  background-color:#747474;
  border-radius:3px;
  color:#fff;
  width:150px;
  font-size:12px;
  padding:7px 7px 7px 7px;
  text-align:center;
  margin-left:10px;
  white-space: nowrap;

}
#policy_details_div .btn_save:hover {
   cursor:pointer;
 }
#policy_details_div .btn_save .fa {
  font-size:14px;
  margin-right:7px;

}
#policy_details_div .fa-clock-o {
  font-size:16px;}
#policy_details_div .policy_header table {width:100%;border:none !important;background-color:#1792cd;}
#policy_details_div .policy_header table tbody {background-color:#1792cd;border:none !important;}
#policy_details_div .policy_header table tr {background-color:#1792cd;border:none !important;}
#policy_details_div .policy_header td.title {font-size:18px;background-color:#ff7400;}
#policy_details_div .policy_header td.actions {text-align:right;background-color:#ff7400;white-space:nowrap;}
#policy_details_div .policy_row { padding:10px;}
#policy_details_div .policy_row table {width:97%;}
#policy_details_div .policy_row th {text-align:left;border-bottom:1px solid #666;padding:7px;}
#policy_details_div .policy_row th .fa {margin-right:7px;}
#policy_details_div .policy_row td { padding:7px 7px 7px 7px;}
#policy_details_div .policy_row input {border:1px solid #666;height:25px;width:100px;margin:7px 0px 7px 0px;font-size:11px; color:#666;}

td.actions span:hover {cursor:pointer;}











