
body{

}

.listview{
  width: 30%;
  float: left;
}

.views{
  margin-right:auto;
  margin-left:auto;
  height:100%;
  width: 70%;
  color:#fff;
  background-color: #043363;
}
.slick-list {
  height:600px;
}

.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.9)
}

.center h3 {
  opacity: .8;
  transition: all .3s ease
}




.center .slick-center .fullExcerpt{
  margin-left: -5px;
  margin-right: -5px;
  transform: scale(1.1);
  opacity: 1;
  z-index: 200;
}

.center .fullExcerpt{
  opacity: 1;
  transition: all .3s ease
}






.center .excerptHeader{
  margin-top: 6vh;
  opacity: .8;
  transition: all .3s ease;
}

.center .slick-center .excerptHeader{
  opacity: 1;
  transform: scale(1);
  opacity: 2;
}






.center .otherContent{
  opacity: 1;
  opacity: .8;
  transition: all .3s ease;
}

.center .slick-center .otherContent{
  transform: scale(1);
  opacity: 1;
}







.fullExcerpt{
  width: 25vw;
  height: 70vh;
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}


.excerptHeader{
  font-size:12px;
  color: #fff;
  height: 10%;
  background-color: #a671c2;
  text-align:left;
  padding:7px 0px 3px 7px;
}
.green{
  background-color: #6fb058;
}
.excerptHeader h1{
  font-size:14px;
  margin:0px 0px 0px 7px;
}


.otherContent{
  text-align:left;
  font-size:12px;
  margin-left: 2.5vw;
  margin-top: 2vh;
  color: black;
  max-width: 20vw;

}
/* hide the slick arrows */
.slick-next,.slick-prev {display:none !important;}
