@import "settings";
@import "foundation";
@import "force-graph";

@include foundation-everything(true);
@include custom-callout;

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  background: url('../static/images/bg.png');
  background-size: cover;
  /*overflow: hidden;*/
}

.breadcrumbs{
  margin: 5px 15px;
  position: relative;
  z-index: 1;
}

.menu>li {
  position: relative;
  >a {
    padding: 1.1rem 1rem;
  }
}
.badge{
  min-width: 1.75em;
}
.tip-menu .menu-item{
  display: block;
  padding: 15px 5px;
  text-align: center;
  background-color: #ffffff;
  color: #888;
  border-bottom: 1px solid #ccc;
  &:hover{
    color: #fff;
    background-color: #b5b5b5;
    .row {
      color: #fff;
      .text-muted{
        color: #fff;
      }
    }
  }
  .label{
    line-height: 1.6;
    border-radius: 3px;
    margin-top: 5px;
    max-width: 100%;
  }
  .row{
    img{
      width: 65%;
      margin-top: 5px;
    }
    line-height: 1;
    color: #444;
    .text-muted{
      color: #ccc;
    }
    .columns{
      padding: 0;
    }
  }
}
.button.bordered{
  border: 3px solid;
}

.text-primary{
  color: map-get($foundation-palette, primary);
}

.fa{
  width: 1.5em;
  max-width: 100%;
  text-align: center;
}

#cy {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 2em;
  //z-index: 999;
}

h1 {
  opacity: 0.5;
  font-size: 1em;
}

canvas {
  vertical-align: middle;
}

.node rect {
  cursor: pointer;
  stroke: #bcbcbc;
  stroke-width: 1px;
  rx: 15px;
  ry: 15px;
}

.node.card rect {
  fill: #ffffff;
  height: 75px;
  width: 200px;
}

.node.icon rect {
  height: 150px;
}

.node text {
  fill: #666666;
  font: 20px Helvetica, Arial, sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

path.link {
  fill: none;
  stroke-width: 3px;
}

.node rect.count {
  fill: map-get($foundation-palette, warning);
  height: 25px;
  width: 25px;
  rx: 7px;
  ry: 7px;
}
.node text.count {
  font-size: 16px;
}

.headerBtn{
  background-color: #6D6D6D;
  display: inline-block;
  padding: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
  img{
    max-height: 40px;
    max-width: 40px;
    display: block;
  }
}
.headerAvatar{
  display: inline-block;
  padding: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  img{
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
  }
}
img.work_avatar {
  padding:0px;
  margin:0px;
}
#graphSizer {
  position:absolute;
  z-index:-1000;
  width:100%;
  height:100%;    
}
