.vador_container {
  margin-left:auto;
  margin-right:auto;
  width:500px;
  margin-top:150px;
  background-color:#576f8c;
  color:#fff;
  padding:3px 10px 3px 10px;
  border-radius:10px;
}
.vador_container a {
  color:#fff;
 }
.vador_close{
  text-align:right;
}
.vador_container table {
  border:none;
  background-color:#576f8c;
}
.vador_container table tbody{
   background-color:#576f8c;
  border:none;
 }
.vador_container td {
  padding:7px 7px 7px 7px;
  background-color:#576f8c;

}
.vador_container td.left {
  border-top:none;
  border-left:none;
  border-right:1px solid #6e7f93;
  border-bottom:1px solid #6e7f93;
}
.vador_container td.right {
  padding-left:20px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid #6e7f93;
}
.vador_container td.left_last {
  border-top:none;
  border-right:1px solid #6e7f93;
  border-bottom:none;
}
.vador_container td.right_last {
  padding-left:20px;
  border-top:none;
  border-right:none;
  border-bottom:none;
}
.vador_container td.cancel {
  text-align:left;
  font-size:11px;
  padding-top:10px;
}
.vador_container td.search {
  text-align:right;
  padding-top:10px;
}
.vador_container input.form_text {
  width:200px;
  height:20px;
  border-radius:5px;
  margin:0px;
}
.vador_container input.cancel_btn {
  border-style:none;
  font-size:11px;
  width:100px;
  height:20px;
  border-radius:3px;
  margin:0px 20px 0px 0px;
  background-color:#a8a8a8;

}
.vador_container input.search_btn {
  border-style:none;
  font-size:11px;
  width:100px;
  height:20px;
  border-radius:3px;
  margin:10px 20px 0px 0px;
  background-color:#6fb058;
}







