body {
  margin:0px;
}
h1.interactions_title {margin:10px 0px 10px 10px;}
.workQContainer{
  background-color:#193660;
}
.workQList {
  position:relative;
  float:left;
  width:17%;
  color:#fff;
  background-color:#193660;
}
.workQArea {
  position:relative;
  float:left;
  width:83%;
  background-color:#043363;
  color:#fff;
}
.workQArea div.no_results {
  margin:10px 0px 0px 50px;
  font-size:18px;
}
.workQArea div.card {
  width:345px;
  margin:40px 0px 740px 300px;
  background-color:#fff;
}
.workQArea input.enter_btn {
  border-style:none;
  font-size:11px;
  width:100px;
  height:20px;
  border-radius:3px;
  margin:0px 20px 0px 0px;
  background-color:#6fb058;
  color:#fff;
  float:right;
}
.form_div{
}
.form_box input {
  height:40px;
  border-radius:5px;
  width:200px;
}
.form_btn{
  margin:10px 0px 0px 0px;
}
/* List Styles */
.workQList div {
  margin:0px;
  padding:0px;
}
div.workQList div.search { background-color:#043363;}
div.workQList div.filter { background-color:#043363;margin-bottom:10px;}
div.workQList br.clear {clear:both;margin:0px;padding:0px;}
div.workQList div.item {
  padding:3px 7px 3px 7px;
  color:#fff;
  font-size:10px;
  font-weight:normal;
  background-color:#172f51;
  border-bottom:2px solid #193660;
}
div.workQList div.item_current {
  padding:3px 7px 3px 7px;
  color:#fff;
  font-size:10px;
  font-weight:normal;
  background-color:#3e80b6;
  border-bottom:2px solid #193660;
}
div.workQList div.item_current div.item_main {background-color:#3e80b6;}
div.workQList div.item_current div.item_left {background-color:#3e80b6;}
div.workQList div.item_current div.item_right {background-color:#3e80b6;}
div.workQList div.item_main {
  width:100%;
}
div.workQList span.status {
  float:right;
  color:#6cac57;
 }
div.workQList div.item_left {
  float:left;
  width:50%;
}
div.workQList div.item_right {
  float:left;
  width:50%;
  text-align:right;
}
/* Search Dropdown Form */
.searchForm {
  z-index: 10;
  display:none;
  position:absolute;
  top: 25px;
  left: 70px;
  margin:0px 0px 0px 0px;
  padding:0px;
}








