.list-unstyled.list-inline{
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  background-color: transparent;
}
.bread-container {
  text-transform: capitalize;
  font-weight: 700;
  font-size: .9em;
  position: fixed;
  left: 15px;
  top: 15px;
}
.bread-connector{
  position: relative;
  width: 60px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
}
.bread-v-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}
.bread-line{
  @extend .bread-v-center;
  height: 3px;
  background-color: #b0b0b0;
  width: 60px;
}
.bread-circle{
  @extend .bread-v-center;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #d1d2d2;
  border: 1px solid #b0b0b0;
  z-index: 2;
}
.bread-left{
  @extend .bread-circle;
  left: 0;
}
.bread-right{
  @extend .bread-circle;
  right: 0;
}
.breadcrumb-link{
  color: #666;
}
